# MacOS / Windows
*.DS_Store


### Altium ###
# Previews Folders
**/__Previews/

# History Folders
**/History/*

# Project Logs
Project\ Logs*/

# Project Outputs
Project\ Outputs*/

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.ldb

*.done
*.done.*
*.jou
*.log
.Xil/
NA
NONE
*.tmp
vivado*.str
xsim.dir
xv*.pb
